body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  background-color: black;
}

#root {
  background-color: black;
}

.chat-main-container {
  height: 90vh;
}

.chat-main-row {
  padding-left: 30px;
  padding-right: 30px;
}

.conv-small {
  font-size: 12px;
}

.bg-message-other {
  background-color: #f1f0f0;
}

.bg-message-self {
  /* background-color: rgb(82, 11, 82); */
  background-color: #9B4AD5;
}

.bg-userlist {
  background-color: #271933;
}

.overflow-custom {
  overflow-y: auto;
  height: 73vh;
}

.border-avatar-custom {
  border: 1px solid silver;
}

.userlist-user:hover {
  background-color: #9B4AD5;
  cursor: pointer;
}

.height-userlist {
  height: 83vh;
  /* overflow-y: auto; */
}

.try-fix-height {
  height: 90px;
}

.wrap-break {
  word-wrap: break-word;
  max-width: 100%;
}

.msg-div-size {
  max-width: calc(100% - 60px);
}

.bg-custom-top {
  background-color: #F7F2F8;
}

.userlist-icon {
  font-size: 20px;
  color: white;
  position: relative;
  bottom: 2px;
  margin-left: 5px;
  margin-right: 3px;
}

.text-feedback {
  color: pink;
  text-align: center;
}

/* .track-vertical {
  width: 5px;
  background-color: white;
} */

.thumb-vertical {
  width: 3px;
  background-color: silver;
  margin-left: 5px;
}

.userlist-thumb-vertical {
  width: 10px;
  background-color: silver;
}